mcuAutomation/BuildingBlocks/SmartWebserviceProxyDemo/Service References/MetadatServiceClient/MetaDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mcafeelabs.com/services/automation/sample/metadata/2.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mcafeelabs.com/services/automation/sample/metadata/2.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mcafeelabs.com/services/automation/sample/metadata/2.0/Imports">
      <xsd:import schemaLocation="http://beaav1rdnmeta01.corp.avertlabs.internal/MetaDataWS/MetaDataService.svc?xsd=xsd0" namespace="http://mcafeelabs.com/services/automation/sample/metadata/2.0" />
      <xsd:import schemaLocation="http://beaav1rdnmeta01.corp.avertlabs.internal/MetaDataWS/MetaDataService.svc?xsd=xsd1" namespace="http://mcafeelabs.com/schema/automation/sample/metadata/2.0" />
      <xsd:import schemaLocation="http://beaav1rdnmeta01.corp.avertlabs.internal/MetaDataWS/MetaDataService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://beaav1rdnmeta01.corp.avertlabs.internal/MetaDataWS/MetaDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMetaDataService_GetMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="IMetaDataService_GetMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaDataService_ScanAndStore_InputMessage">
    <wsdl:part name="parameters" element="tns:ScanAndStore" />
  </wsdl:message>
  <wsdl:message name="IMetaDataService_ScanAndStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:ScanAndStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IMetaDataService_StoreMetaData_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreMetaData" />
  </wsdl:message>
  <wsdl:message name="IMetaDataService_StoreMetaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreMetaDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IMetaDataService">
    <wsdl:operation name="GetMetadata">
      <wsdl:input wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/GetMetadata" message="tns:IMetaDataService_GetMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/GetMetadataResponse" message="tns:IMetaDataService_GetMetadata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ScanAndStore">
      <wsdl:input wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/ScanAndStore" message="tns:IMetaDataService_ScanAndStore_InputMessage" />
      <wsdl:output wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/ScanAndStoreResponse" message="tns:IMetaDataService_ScanAndStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreMetaData">
      <wsdl:input wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/StoreMetaData" message="tns:IMetaDataService_StoreMetaData_InputMessage" />
      <wsdl:output wsaw:Action="http://mcafeelabs.com/services/automation/sample/metadata/2.0/IMetaDataService/StoreMetaDataResponse" message="tns:IMetaDataService_StoreMetaData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>