mcuAutomation/BuildingBlocks/AuthenticationProxy/Service References/AuthenticationService/AuthenticationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64644/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" />
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" minOccurs="0" name="requestData" nillable="true" type="q1:AuthorizationRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizationRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" minOccurs="0" name="AuthorizationRequestResult" nillable="true" type="q2:AuthorizationResults" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>