mcu-release-automation/BuildingBlocks/AuthenticationClient/Service References/AuthenticationClient/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Authentication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" />
      <xsd:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccessPrivilege" />
      <xsd:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthorizationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationRequest" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_AuthorizationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Ping" message="tns:IAuthentication_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/PingResponse" message="tns:IAuthentication_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizationRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/AuthorizationRequest" message="tns:IAuthentication_AuthorizationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/AuthorizationRequestResponse" message="tns:IAuthentication_AuthorizationRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentication" type="tns:IAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationRequest">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/AuthorizationRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Authentication">
    <wsdl:port name="BasicHttpBinding_IAuthentication" binding="tns:BasicHttpBinding_IAuthentication">
      <soap:address location="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>