mcuAutomation/BuildingBlocks/SmartWebserviceProxyDemo/Service References/SSCClient/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mcafeelabs.com/schema/business-services/sample-details/1.0" elementFormDefault="qualified" targetNamespace="http://mcafeelabs.com/schema/business-services/sample-details/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sample" type="tns:sample-identifier" />
  <xs:complexType name="sample-identifier">
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element minOccurs="0" maxOccurs="1" name="sha1" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="dataid" type="xs:unsignedLong" />
        <xs:element minOccurs="0" maxOccurs="1" name="hash" type="tns:hashType" />
        <xs:element minOccurs="0" maxOccurs="1" name="sha256" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="md5" type="xs:string" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hashType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="MD5" />
            <xs:enumeration value="SHA256" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="hex" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="samples" type="tns:sample-identifier-list" />
  <xs:complexType name="sample-identifier-list">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sample" type="tns:sample-identifier" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>