mcuAutomation/BuildingBlocks/AuthenticationClient/Service References/AuthenticationClient/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFAuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://beadv1dbprof1.corp.avertlabs.internal/WCFAuthenticationService/AuthenticationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccessPrivilege" />
  <xs:complexType name="AuthorizationRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccessPrivilege" minOccurs="0" name="PrivilegeList" nillable="true" type="q1:ArrayOfAccessPrivilegeAttribute" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationRequestData" nillable="true" type="tns:AuthorizationRequestData" />
  <xs:complexType name="AuthorizationResults">
    <xs:sequence>
      <xs:element minOccurs="0" name="Acknowledged" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Errormessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorizationResults" nillable="true" type="tns:AuthorizationResults" />
</xs:schema>