mcu-release-automation/BuildingBlocks/SmartWebserviceProxyDemo/Service References/SSCClient/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://mcafeelabs.com/schema/automation/base/0.1" elementFormDefault="qualified" targetNamespace="http://mcafeelabs.com/schema/automation/base/0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="system-identifier" type="tns:identifierType" />
  <xs:complexType name="identifierType">
    <xs:simpleContent>
      <xs:extension base="xs:unsignedLong">
        <xs:attribute name="system" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="system-status" type="tns:systemStatusType" />
  <xs:complexType name="systemStatusType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="operation" type="tns:operationStatusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="try-again-after" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="system-status" type="tns:statusType" use="required" />
  </xs:complexType>
  <xs:complexType name="operationStatusType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="status" type="tns:statusType" />
      <xs:element minOccurs="0" maxOccurs="1" name="try-again-after" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="statusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="TOO_BUSY" />
      <xs:enumeration value="OFFLINE" />
      <xs:enumeration value="NOT_AVAILABLE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>